#vboxContent .jeep-stop {
    -fx-background-image: url("../images/jeep-ticket.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 220px 80px;
    -fx-max-width: 224px;
    -fx-max-height: 90px;
    -fx-min-width: 224px;
    -fx-min-height: 90px;
}

#vboxContent .source-destination {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-alignment: center;
    -fx-text-origin: top;
}
#vboxContent .jeep-fare {
    -fx-font-size: 12px;
}
#vboxContent .edge-distance {
    -fx-font-size: 12px;
    -fx-text-alignment: center; 
    -fx-text-origin: bottom;
}